body{
  background-color: #362D30;
  margin:0px;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**--------------------------------------
HEADER
------------------------------------*/
header{
    background-color: #362D30;
}
#head{
  color:#362D30;
  margin-top: 310px;
}

#head p{
  text-align:center;
  color: #fff;
  background-color: #362D30;
}

#head .first{
  font-size: 90px;
  font-family: 'Droid Sans', sans-serif;
}

#head .second {
  font-size: 90px;
  font-family: 'Droid Sans', sans-serif;
}

#head .third {
  font-size: 20px;
  color: #C1BFC0;
}

#head div{
  text-align: center;
  color: #000;
}

#head button{
  background-color: #fff;
  border-color: #fff;
  height: 60px;
  width: 200px;
}

#social{
  float: right;
  margin-right: 20px;
  margin-top: -20px;
}
/*Projects and Featured*/
#wrapper{
  margin-top:300px;
}

#projects{
  float: left;
  background-color: #FAFAFA;
  color: #31282B;
  width: 50%;
  height: 800px;
}



/*logo and name*/
#logo-container{
    float:left;
    margin-left: -px;
    margin-top: -px;
}


#logo{
    display:inline-block;
    height:5em;
    width:5em;
}

#name-and-tag{

}

#name{
    font-family: Cormorant Upright,cursive;
    font-weight: 800;
    font-size:35px;
    line-height: 2px;
}

#tagline{
    font-family: Cormorant SC,Poiret One,cursive;
    font-weight: 400;
    font-size:17px;
    line-height: 2px;
}
/*navigation bar*/
#top-nav{
  margin-left:200px;
  margin-top:-10px;
}
/*nav links*/
#top-nav a{
    font-size:15px;
    margin-bottom:-110px;
    padding:20px;
    text-decoration: none;
    font-family: Raleway;
    color:#9A9697;
    display: inline-block;
    text-align: center;
    padding-left: 80px;
}

#top-nav a:hover{
    color:#FF5252;
    cursor: pointer;
}

#head{
  text-align: center;
}


#head p{
  text-align:center;
  color: #fff;
  background-color: #362D30;
}

#head .first{
    font-size: 90px;
    display:inline-block;;
    padding:10px;
    background-color:#362D30
    color:wheat;
    margin-bottom:-20px;
}

#head .third {
  font-size: 20px;
  color: #C1BFC0;
}

#head div{
  text-align: center;
  color: #000;
}

#head button{
  background-color: #fff;
  border-color: #fff;
  height: 60px;
  width: 200px;
}

.col-1{
  width: 33%;
  display: inline-block;
  background-color:#362D30;
  height:250px;
  margin-top: 150px;
  padding-left: 2px;
}

.col-2{
  width: 32.5%;
  display: inline-block;
  background-color:#31282B;
  height:250px;
  margin-top: 150px;
  margin-right: -2px;
  margin-left: -2px;
}

.col-3{
  width: 33%;
  display: inline-block;
  background-color:#362D30;
  height:250px;
  margin-top: 150px;
  padding-right: 2px;
}

#Discover{
  background-color:#FAFAFA;
  height: 119px;
}

#Discover button{
  background-color: #F63C3D;
  color: #fff;
  border: 1px solid #F63C3D;
  text-align: center;
  height: 40px;
  width:180px;
  margin: 20px;
  font-family: 'Droid Sans', sans-serif;
}

#Discover div{
  color: #000;
}

#History{
  margin-right: px;
  float: left;
  width: 60%;
  margin-top: 0px;
  background-color: #fff;
  color: #31282B;
  height: 950px;
  text-align: justify;
  margin-left:
}

#History h1{
  color: #31282B;
  font-family: 'Droid Sans', sans-serif;
  font-size: 80px;
}

#History p{
  color: #31282B;
  font-family: 'Droid Sans', sans-serif;
  font-size:20px;
  line-height: 32px;
}


#History button{
  border: 2px solid #F63C3D;
  background-color: #F63C3D;
  color: #fff;
  height: 40px;
  width:180px;
  margin-top: 20px;
}

#test img{
  float: right;
  width: 40%;
  background-color:#fff;

}

#division{
  background-color: #fff;
  text-align: center;
}

#division .no{
  font-size: 40px;
  color:#F63C3D;
  margin-bottom: -10px;
  margin-top: 8px;
  font-family: 'Droid Sans', sans-serif;
}


.div-1{
  display: inline-block;
  width: 33.33%
}

.div-2{
  display: inline-block;
  width: 33.33%
}

.div-3{
  display: inline-block;
  width: 30.33%
}








/*Projects and Featured*/
#wrapper{
  margin-top:300px;
  width: 100%;
}

#projects{
  float: left;
  background-color: #FAFAFA;
  color: #31282B;
  width: 50%;
  height:800px;
}


#projects p, #projects h1{
  margin-left: 205px;
}

#projects p{
  margin-top: 100px;
  margin-bottom: 50px;
  color: #555555;
  font-size: 15px;
}

#projects h1{
  color: #31282B;
  font-family: 'Droid Sans', sans-serif;
  font-size: 50px;
}

#featured{
  float: right;
  background-color: #F63C3D;
  color: #FFFFFF;
  width: 50%;
  height: 850px;
}

#featured h1,#featured h2,#featured p{
  margin-left: 70px;
}

#featured p{
  margin-top: 40px;
  color: #fff;
}

#featured h1{
padding-top: 20px;
color: #fff;
}

#featured h2{
  padding-top: 500px;
  color: #F97779;
}

/*------------------
SERVICES
------------------------*/
#services-section{
    padding:50px;
background-color:#F7F7F7;    
}

#services-header{
    font-size:55px;
    color:black;
}

.serve-sect{
    display: inline-block;
    width:30%;
    vertical-align: top;
    padding:10px;
}

.serve-img{
    
}

.serve-header{
    color:black;
}
.serve-text{
    
}

/*------------------
CALL TO ACTION
------------------------*/
#call-to-action{
    text-align: center;
    background-color:#31282B;
    padding:50px;    
}

#call-to-action h3{
    
}

#call-to-action p{
    
}

#get-in-touch-link a{
    padding:10px;
    text-decoration: none;
    border-bottom: 5px solid white;
    color:white;
}
/**--------------------------------------
JOurnal SECTION
------------------------------------*/
#journal-section{
    background-color:white;
    
}

#journal-header{
    font-size: 45px;
    padding: 22px;
    color:black;
}

.article-container{
    display: inline-block;
    width:30%;
    vertical-align: top;
    text-align: center;
    margin: 20px;
}

.img-placeholder{
    background-color: #31282B;
    padding:150px;
}

.article-view{
    
}

.article-category-header{
    color:red;
    font-size:15px;
}

.article-header{
    color:black;
}

.article-text{
    
}

.explore-more-btn{
    background-color: transparent;
    border:3px solid black;
    padding:15px;
    color:black;
}

.explore-more-btn:hover{
    background-color:black;
    color:wheat;    
}

#social{
  color: #9A9697;
  float: right;
  margin-top:-20px;
  margin-right:20px;
  padding-left: 70px;
}

#show-more-link{
    text-align: center;
}
#show-more-link a{
    padding:10px;
    text-decoration: none;
    border-bottom: 5px solid black;
    color:black;
}

/**--------------------------------------
PARTNERS SECTION
------------------------------------*/
#testimonials-section{
    background-color:#31282B;
    text-align: center;
}   

#quote-container{
    padding:50px;
    margin: 30px 50px 35px 30px;    
}

#slider-buttons{
    list-style: none;
}

#slider-buttons li{
    background-color:white;
}
    
#projects p, #projects h1{
  margin-left: 205px;
}

#projects p{
  margin-top: 100px;
  margin-bottom: 50px;
  color: #555555;
  font-size: 15px;
}

#projects h1{
  color: #31282B;
  font-family: 'Droid Sans', sans-serif;
  font-size: 50px;
}

#featured{
  float: right;
  background-color: #F63C3D;
  color: #FFFFFF;
  width: 50%;
  height: 800px;
}

#featured h1,#featured h2,#featured p{
  margin-left: 70px;
}

#featured p{
  margin-top: 40px;
  color: #fff;
}

#featured h1{
padding-top: 20px;
color: #fff;
}

#featured h2{
  padding-top: 500px;
  color: #F97779;
}

.quotes{
    color:white;
    font-size:25px;
    padding:50px;
    flex-wrap: wrap;
}

.quoter{
    font-size: 15px;
}
#testimonials-img-container{
    padding:50px;
}

.testimonial-logos{
    height:2.5em;
    padding:70px;
}
/**--------------------------------------
FOOTER
------------------------------------*/
.primary-footer{
    background-color:#FFF;
    margin: 0;
}

.footer-top{
    display:flex;
    margin-top: 10px;
}

.form-footer{
    padding-left:100px;
    display:inline-block;
    width:45%;
}

.stay-conn-header{
    color:black;
    font-size: 55px;
    line-height: 30px;
}
/*email input*/
#email-input{
    padding:10px;
}

/*sign up button*/
#sign-up-btn{
    background-color:#F63C3D;
    color:white;
    padding:10px;
}
    
/*social container at the footer*/
.social-cont{
    width:55%;
	margin:10px 0px 0px 290px;
}

.social-icons{
    display: inline-block;
    vertical-align: top;
    width:30%;    
    padding:50px;
    margin-right:-4px;
}

.icon-holder{
    display:inline-block;
    padding:25px;
    color:white;
}

.icon-holder a{
	text-decoration: none;
	color:white;
}

#facebook-icon:hover{
	color:#4867AA;
}
#twitter-icon:hover{
	color:#2EACF6;
}

#googleplus-icon:hover{
	color:#EA4335;
}

#pinterest-icon:hover{
	color:#BD2126;
}

.icon-text{
    display: inline-block;
    vertical-align: top;
}
.icon-text h3{
    color: white;
}

.form-error{
  animation: error 0.8s ease;
  background: rgba(0,0,0,0.7);
}

#footer-bottom{
    color:black;
	text-align: center;
}

#sage-name{
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    margin:25px;
    text-align: left;
}

#terms-privacy{
    display: inline-block;
    text-align: right;
    width:40%;
	text-decoration: none;
	margin-left:125px;
}

/*Terms and privacy policy links*/
#terms{
	padding:10px;
	text-decoration: none;	
}

#privacy{
	text-decoration: none;
	padding:10px;
}