body{
    margin:0px;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**--------------------------------------
HEADER
------------------------------------*/
header{
    display:block;
    padding:10px;
    background-color:#0E1628;
    color:wheat;
}

/*logo and name*/
#logo-container{
    float:left;
    display:flex;
}

#logo-container{
    
}

#logo{
    display:inline-block;
    height:5em;
    width:5em;
}

#name-and-tag{
    
}

#name{
    font-family: Cormorant Upright,cursive;
    font-weight: 800;
    font-size:35px;
    line-height: 2px;
}

#tagline{
    font-family: Cormorant SC,Poiret One,cursive;
    font-weight: 400;
    font-size:17px;
    line-height: 2px;
}
/*navigation bar*/
#top-nav{
    margin-left:650px;
    padding:30px;
}
/*nav links*/
#top-nav a{
    padding:50px;
    text-decoration: none;
    font-family: Raleway;
    text-transform: uppercase;
    color:#767676;
}

#top-nav a:hover{
    color:#FF5252;
    cursor: pointer;
}

#call-to-action h3{
    
}

#call-to-action p{
    
}

#get-in-touch-link a{
    padding:10px;
    text-decoration: none;
    border-bottom: 5px solid white;
    color:white;
}
/**--------------------------------------
JOurnal SECTION
------------------------------------*/
#journal-section{
    background-color:white;
    
}

#journal-header{
    font-size: 95px;
    padding: 22px;
    color:black;
}

.article-container{
    display: inline-block;
    width:30%;
    vertical-align: top;
    text-align: center;
    margin: 20px;
}

.img-placeholder{
    background-color: #31282B;
    padding:120px;
}

.article-view{
    
}

.article-category-header{
    color:red;
    font-size:15px;
}

.article-header{
    color:black;
}

.article-text{
    
}

.explore-more-btn{
    background-color: transparent;
    border:3px solid black;
    padding:15px;
    color:black;
}

.explore-more-btn:hover{
    background-color:black;
    color:wheat;    
}

#show-more-link{
    text-align: center;
}
#show-more-link a{
    padding:10px;
    text-decoration: none;
    border-bottom: 5px solid black;
    color:black;
}

/**--------------------------------------
PARTNERS SECTION
------------------------------------*/
#testimonials-section{
    background-color:#31282B;
    text-align: center;
}   

#quote-container{
    padding:50px;
    margin: 30px 50px 35px 30px;    
}

#slider-buttons{
    list-style: none;
}

#slider-buttons li{
    background-color:white;
    
}

.quotes{
    color:white;
    font-size:25px;
    padding:50px;
    flex-wrap: wrap;
}

.quoter{
    font-size: 15px;
}
#testimonials-img-container{
    padding:50px;
}

.testimonial-logos{
    height:2.5em;
    padding:70px;
}
/**--------------------------------------
FOOTER
------------------------------------*/
.primary-footer{
    background-color:#FFF;
    margin: 0;
}

.footer-top{
    display:flex;
    margin-top: 10px;
}

.form-footer{
    padding-left:100px;
    display:inline-block;
    width:50%;
}

.stay-conn-header{
    color:black;
    font-size: 55px;
    line-height: 30px;
}
/*email input*/
#email-input{
    padding:10px;
}

/*sign up button*/
#sign-up-btn{
    background-color:#F63C3D;
    color:white;
    padding:10px;
}
    
/*social container at the footer*/
.social-cont{
    width:40%;
}

.social-icons{
    display: inline-block;
    vertical-align: top;
    width: 35.0%;    
    padding:40px;
    margin-right:-5px;
}

.icon-holder{
    display:inline-block;
    padding:25px;
    color:white;
}

.icon-text{
    display: inline-block;
    vertical-align: top;
}
.icon-text h3{
    color: white;
}

#footer-bottom{
    color:black;
}

#sage-name{
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    margin:25px;
    text-align: center;
    line-height: 35px;
}

#terms-privacy{
    display: inline-block;
    text-align: center;
    width:40%
        
}